.pricingTable{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0 0 20px;
    margin: 0 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2),5px 5px rgba(0,0,0,0.05);
    position: relative;
    z-index: 1;
}




.pricingTable .pricingTable-header{
    color: #fff;
    background: linear-gradient(#53A1FF, #5F70F6);
    padding: 20px 15px 30px;
    margin: 0 0 40px;
    border-radius: 20px;
    position: relative;
}
.pricingTable .pricingTable-header:after{
    content: '';
    background: #5F70F6;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: -15px;
    z-index: -1;
}
.pricingTable .title{
    color: #333;
    background-color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 20px 5px;
    margin: 0 0 20px;
    border-radius: 20px;
    display: inline-block;
}
.pricingTable .price-value{
    color: #fff;
    font-size: 55px;
    font-weight: 400;
    line-height: 55px;
}
.pricingTable .pricing-content{
    text-align: left;
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    color: #888;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 0 0 20px;
    margin: 0 0 20px;
    position: relative;
}
.pricingTable .pricing-content li:last-child{ margin-bottom: 0; }
.pricingTable .pricing-content li:before{
    content: '';
    background: linear-gradient(#53A1FF, #5F70F6);
    height: 10px;
    width: 10px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 6px;
}
.pricingTable .pricingTable-signup a{
    color: #fff;
    background: linear-gradient(#53A1FF, #5F70F6);
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 7px 18px 5px;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s;
}
.pricingTable .pricingTable-signup a:hover{
    box-shadow: 0 0 12px rgba(0,0,0,0.5) inset, 4px 4px rgba(0,0,0,0.2);
}
.pricingTable.green .pricingTable-header,
.pricingTable.green .pricing-content li:before,
.pricingTable.green .pricingTable-signup a{
    background: linear-gradient(#2BE6BA, #339A93);
}
.pricingTable.green .pricingTable-header:after{ background-color: #339A93; }
.pricingTable.pink .pricingTable-header,
.pricingTable.pink .pricing-content li:before,
.pricingTable.pink .pricingTable-signup a{
    background: linear-gradient(#FF48D9, #dd11b1);
}
.pricingTable.pink .pricingTable-header:after{ background-color: #dd11b1; }
@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 40px; }
}